<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

    <title>Reactive Programming Dojo</title>
</head>
<body>
    <div class="container">
        <h1>Reactive Programming Dojo</h1>
        <p>Today we're going to be doing a bit of coding in the realm of functional reactive
            programming. You already seem to have the node application up and running, which is
            encouraging.</p>
        <p>This is a bit of a 'full-stack' dojo in that we shall be messing about on both the front
            end and the back end, however, we shall try to keep everything as technology neutral as
            possible. I'll also try to err away from anything too esoteric and keep us focussed on
            principles rather than specific implementations.
        </p>
        <p>If you are curious, the library we're using to create and manipulate event streams is
            <code>batman.js</code>. Feel free to check out the
            <a href="https://baconjs.github.io/">project page</a> if you want to see how and why
            everything plugs together.
        </p>
    </div>
</body>
</html>